.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1249px;
}

.u-section-1 .u-image-1 {
  width: 544px;
  height: 410px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: -40px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -419px auto 0 10px;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 1133px;
  height: 491px;
  object-position: 50% 0%;
  animation-duration: 1000ms;
  margin: 378px auto 0 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 24px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 44px 19px 0 auto;
  padding: 23px 54px 24px 52px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -93px auto 60px 19px;
  padding: 23px 54px 24px 52px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1165px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -433px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 408px;
    margin-top: 392px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 718px;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 36px;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -528px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 313px;
    margin-top: 487px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 498px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 407px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -37px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -558px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 235px;
    margin-top: 517px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 318px;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 256px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 114px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -573px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 148px;
    margin-top: 532px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 118px;
  }
}