.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1874px;
}

.u-section-1 .u-image-1 {
  width: 554px;
  height: 433px;
  margin: 16px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -344px auto 0 75px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 311px auto 0 142px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -49px auto 0 797px;
}

.u-section-1 .u-text-1 {
  width: 839px;
  margin: 102px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 743px;
  width: 1003px;
  margin: 70px auto 0 75px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 43px 453px 0 75px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: -336px -152px 0 543px;
}

.u-section-1 .u-text-4 {
  margin: -21px 69px 0 958px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 37px 228px 0 auto;
  padding: 18px 30px 18px 29px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -58px -1px 60px auto;
  padding: 18px 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 432px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -284px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 251px;
    margin-left: 0;
    padding: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 597px;
  }

  .u-section-1 .u-gallery-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 328px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 443px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 828px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 52px;
    padding-left: 51px;
    margin-right: 28px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-3 {
    margin-left: 377px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 108px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 333px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 608px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1863px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 421px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -228px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 195px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 197px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 243px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 428px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1707px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 265px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -72px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 228px;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1479px;
}

.u-section-2 .u-text-1 {
  width: 839px;
  margin: 49px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 743px;
  width: 1003px;
  margin: 30px 62px 0 auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 62px 466px 0 62px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: -336px -179px 0 570px;
}

.u-section-2 .u-text-4 {
  margin: -21px 43px 0 985px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 37px 215px 0 auto;
  padding: 18px 30px 18px 29px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -58px -16px 0 auto;
  padding: 18px 23px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 320px auto 0 0;
  padding: 21px 69px 22px;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -65px auto 30px 912px;
  padding: 21px 61px 22px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 328px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 470px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 828px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 15px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 712px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 108px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 360px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 608px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 492px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 270px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 428px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 312px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 228px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 112px;
  }
}