.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1997px;
}

.u-section-1 .u-image-1 {
  width: 519px;
  height: 429px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -50px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -321px 0 0 740px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: -203px auto 0 58px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 440px auto 0;
}

.u-section-1 .u-line-1 {
  width: 1212px;
  height: 3px;
  transform-origin: left center 0px;
  animation-duration: 1000ms;
  margin: 30px -36px 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 373px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/Screenshot_11.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 6px 0 2px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 900;
  text-decoration: underline !important;
  margin: 275px 35px 0 58px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 373px;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/Screenshot_31.png");
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 16px 6px 20px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 900;
  text-decoration: underline !important;
  margin: 261px 108px 0 104px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 416px;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/Screenshot_7.png");
  background-position: 100% 100%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 900;
  text-decoration: underline !important;
  margin: 297px 89px 0 112px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 415px;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/Screenshot_101.png");
  background-position: 50% 100%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 24px 6px 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 900;
  text-decoration: underline !important;
  margin: 294px 47px 0 41px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 359px;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/Screenshot_18.png");
  background-position: 100% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 6px;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 900;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 359px;
}

.u-section-1 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/Screenshot_22.png");
  background-position: 100% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 30px 5px;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 900;
  text-decoration: underline !important;
  margin: 238px 117px 0 138px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-2 {
  width: 1212px;
  height: 3px;
  transform-origin: left center 0px;
  animation-duration: 1000ms;
  margin: 30px auto 0 -36px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 39px auto 60px;
  padding: 20px 48px 21px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1796px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -95px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 332px;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 58px;
  }

  .u-section-1 .u-layout-cell-3 {
    background-position: 100% 100%;
    background-size: 135%;
    min-height: 343px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 62px;
  }

  .u-section-1 .u-layout-cell-4 {
    background-position: 50% 100%;
    min-height: 342px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    background-position: 100% 50%;
    min-height: 296px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 296px;
    background-position: 100% 50%;
  }

  .u-section-1 .u-text-9 {
    margin-left: 88px;
  }

  .u-section-1 .u-line-2 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1575px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 320px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -59px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 296px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 236px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 236px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 2px;
    margin-left: 76px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 263px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 262px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 227px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 227px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 84px;
    margin-left: 33px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3027px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 140px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 920px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -683px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 393px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 341px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 341px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2073px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 281px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 98px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 930px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -693px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 223px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 249px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 247px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 215px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 215px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }
}