.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1500px;
}

.u-section-1 .u-image-1 {
  width: 544px;
  height: 410px;
  margin: 7px auto 0;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: -40px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -486px auto 0 57px;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 1133px;
  height: 534px;
  object-position: 50% 12.26%;
  animation-duration: 1000ms;
  margin: 462px auto 0 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 7px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px 0 0 auto;
  padding: 23px 54px 24px 52px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -69px auto 60px 0;
  padding: 23px 54px 24px 52px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1409px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1305px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 339px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1217px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 407px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -37px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 254px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 256px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 114px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 160px;
  }
}