.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1494px;
}

.u-section-1 .u-image-1 {
  width: 526px;
  height: 374px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.875rem;
  margin: -354px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 359px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px -50px 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.5rem;
  margin: 20px -50px 0;
}

.u-section-1 .u-line-1 {
  width: 1212px;
  height: 3px;
  transform-origin: left center 0px;
  animation-duration: 4250ms;
  margin: 30px auto 0 -50px;
}

.u-section-1 .u-image-2 {
  width: 1170px;
  height: 193px;
  margin: 20px -15px 0;
}

.u-section-1 .u-line-2 {
  width: 1212px;
  height: 3px;
  transform-origin: left center 0px;
  animation-duration: 3250ms;
  margin: 30px auto 60px -50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1456px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 155px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1420px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 119px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1390px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 89px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 242px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -220px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 56px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 832px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 712px;
  margin-bottom: 48px;
  margin-top: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

@media (max-width: 767px) {
  .u-section-2 .u-carousel-thumbnail-2 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 82px;
    height: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-carousel-thumbnail-1 {
    width: 78px;
    height: 78px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 78px;
    height: 78px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 78px;
    height: 78px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 431px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 70px auto 20px;
}